.container
    .row.align-items-center.mt-5
        .col-12.col-md-5.col-lg-6.order-md-2
            img.img-fluid.mw-md-150.mw-lg-130.mb-6.mb-md-0.aos-init.aos-animate(src='https://landkit.goodthemes.co/assets/img/illustrations/illustration-2.png', alt='...', data-aos='fade-up', data-aos-delay='100')
        .col-12.col-md-7.col-lg-6.order-md-1.aos-init.aos-animate(data-aos='fade-up')
            h1.display-3.text-center.text-md-left
                | Welcome to 
                span.text-primary Landkit
                | . 
                br
                |                     Develop anything.
            p.lead.text-center.text-md-left.text-muted.mb-6.mb-lg-8
                | Build a beautiful, modern website with flexible Bootstrap components built from scratch.
            .text-center.text-md-left
                a.btn.btn-primary.shadow.lift.mr-1(href='overview.html')
                    | View all pages 
                    i.fe.fe-arrow-right.d-none.d-md-inline.ml-3
                a.btn.btn-primary-soft.lift(href='docs/index.html')
                    | Documentation
