doctype html
html.h-100(lang='en')
    head
        include ../partials/head
    body.d-flex.flex-column.h-100
        header
            include ../partials/header
        main.mt-5
            include ../components/landingPage
        footer.footer.mt-auto.py-3
            include ../partials/footer