<!doctype html>
<html lang="en" class="h-100">
    <head>
<%- include('../common/head'); -%>
    </head>
    <body class="d-flex flex-column h-100">
        <header>
<%- include('../common/header'); -%>
        </header>
        <main class="mt-5">
<%- include('../partials/landingPage'); -%>
        </main>
        <footer class="footer mt-auto py-3">
<%- include('../common/footer'); -%>
        </footer>
    </body>
</html>