        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Blog Template · Bootstrap</title>
        <link href="favicon.ico" rel="icon" type="image/x-icon">
        <link href="https://getbootstrap.com/docs/4.5/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="css/main.css"  rel="stylesheet" media="all">
